/*----------- FORM --------------*/
form fieldset, #memberBenefits fieldset {
    margin:2rem 0;
    border: solid 1px blue;
    border-radius:10px;
    padding:.5rem 2%;
    margin:0 1rem;
}

form legend, #memberBenefits legend {
    color:blue;
    margin:0 1rem;
    padding:0 .5rem;
}

form label.top, form div {
    display:block;
    padding-top:1rem;
    color:darkred;
    font-size:.8rem;
}

form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance:none;
    display:block;
    font-size:1rem;
    border: solid 1px #999;
    border-radius:4px;
    padding:.75rem;
    color:#555;
    width:100%;
    max-width:20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display:block;
    padding: .75rem 0;
    color:#555;
}

form input.submitBtn {
    border:none;
    background-color:var(--buttonColor);
    color:white;
    border-radius:1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:96%;
    max-width:20rem;
}

form label.top input:required {
    border-left: var(--formInvalid) solid 6px;
}

form label.top input:required:valid {
    border-left: var(--formValid) solid 6px;
}

#reEnterPasswordField.invalid {
    border-left: var(--formInvalid) solid 6px;
}

#pageRatingTextField { margin:0px 10px; padding:5px; text-align:center; width:30px; display:inline-block; font-size:1.75rem; color:blue; }

#pageRatingContainer { margin-top:1rem; }

#formmessage {
	display: none;
	margin: 10px;
	padding: 0.75rem;
	color: var(--formInvalid);
    border:solid 1px var(--formInvalid);
    border-radius:0.5rem;
}

#membershipLevelField {
    -webkit-appearance: auto;
}